body {
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  background-color: #084222;
  color: #000000;
  margin: 0;
  line-height: 1.6;
}


header {
  text-align: center;
  background: #ffffff;
  color: #084222;
  padding: 2rem 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 8px;
}


section {
  max-width: 900px;
  margin: 2rem auto;
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #084222;
  border-left: 5px solid #084222;
  padding-left: 10px;
}

section p {
  margin-top: 1.9rem;
  color: #444;
}



footer {
  text-align: center;
  background: d8d8d8;
  color: white;
  padding: 1rem 0;
  margin-top: 1rem;
  font-size: 0.8rem;
  border-top: 7px solid #d8d8d8;
}